{% set name='MULTIHOSTS KERNEL PANIC' %}
{% extends 'recipeset_multihosts.j2' %}
{% block tasks_host_1 %}
    {% include 'task_check_install.j2' %}
    {% include 'task_kernel_panic.j2' %}
    {% include 'task_pass.j2' %}
{% endblock %}
{% block tasks_host_2 %}
    {% include 'task_check_install.j2' %}
    {% include 'task_kernel_panic.j2' %}
    {% include 'task_pass.j2' %}
{% endblock %}
