      <task name="/distribution/check-install" role="STANDALONE">
        <fetch url="https://github.com/beaker-project/beaker-core-tasks/archive/master.zip#check-install" />
        <params>
          <param name="CKI_WAIVED" value="False" />
        </params>
      </task>
